@charset "utf-8";

@media screen and (max-width:400px) {
    .upper_container h1{
        font-size: 5rem;
    }

    .transition .lower_container{
        font-size: .5rem;
    }

    em{
        font-size: 15px;
    }

    .logo_wrap{
        width: 30%;
    }

    .logo_wrap .logo{
        width: 100%;
        height: 40px;
    }


    .nav_toggle{
        width: 30px;
        z-index: 120;
    }

    .line{
        height: 2px;
    }

    .line.l1{
        transform: translateY(-10px);
    }
    
    .line.l3{
        transform: translateY(10px);
    }

    

    nav a{
        font-size: 1.9rem;
    }

    .pdf{
        font-size: 90px;
    }


    .iflayer{
        width: 90%;
        height: 90%;
    }

    .pdfimg{
        width: 100%;
        height: 100%;
    }

    .ifclose{
        top: 8.8%;
        right: 45%;
    }


    .web_inner{
        width: 100%;
        height: 90%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .web_list{
        width: 98%;
        height: 30%;
    }

    .github{
        left: 10px;
    }

    .web_copy_pop{
        /* border: 1px solid red; */
        width: 95%;
        height: 95%;
    }
    
    .copy_inner{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 0 30px;
    }

    .copy_btn{
        top: 10px;
        left: 45%;
        z-index: 210;
    }

    .copy_wrap a{
        bottom: 0;
        width: 120px;
        font-size: .9rem;    
    }

    .respon_pop{
        width: 95%;
        height: 95%;
    }

    .respon_inner{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 0 30px;
    }

    .respon_wrap a{
        bottom: 0;
        width: 120px;
        font-size: .9rem;  
    }

    .project_pop{
        width: 95%;
        height: 95%;
    }

    .project_inner{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 0 30px;
    }

    .project_wrap a{
        bottom: 0;
        width: 120px;
        font-size: .9rem;  
    }

    .contact_msg{
        font-size: 1.1rem;
    }

    .contact_wrap{
        flex-direction: column;
        justify-content: flex-start;

    }
    .contact_wrap > div{
        margin: 20px 0;
    }

    #contact_move{
        order: 1;
        font-size: 3rem;
    }   
    .call{order: 2;}
    .mail{order: 3;}


    .footer{
        font-size: .5rem;
    }

    .copy{
        font-size: .7rem;
    }



    .footer{
        height: 60px;
    }
}